# ProHack Competition

## Competition Objectives

## Approach To Solution

# Data Exploratory Analysis

## Load Libraries

In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import seaborn as sns
sns.set_style('darkgrid')

import warnings
warnings.filterwarnings('ignore')

In [ ]:
#import matplotlib.pylab as plt

## Load Data

In [2]:
df_raw = pd.read_csv("train.csv")
df_raw.head(10)

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247
5,990025,KKh 060,0.824692,63.887135,28409.062695,0.671697,14.062458,9.978597,0.815264,0.796807,...,NaN,NaN,NaN,NaN,NaN,40.118699,3.981105,21.012897,NaN,0.052871
6,990025,Grus II,0.657457,68.555326,25648.328827,0.745674,15.434546,10.021786,0.662192,0.743891,...,NaN,NaN,NaN,NaN,NaN,12.984996,4.320539,NaN,NaN,0.052780
7,990025,UGCA 292,0.951043,75.693397,20935.541513,0.947961,14.862880,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.191899,NaN,NaN,0.062652
8,990025,Aquarius II,0.657402,61.337084,18231.029378,0.826377,15.173325,6.941815,0.725536,0.647240,...,NaN,NaN,NaN,NaN,NaN,-4.709357,6.151802,NaN,NaN,0.053927
9,990025,Andromeda XI,0.657180,62.554929,16196.125655,0.679096,12.937281,6.529242,0.561520,0.482450,...,NaN,NaN,NaN,NaN,NaN,8.731994,6.684401,NaN,NaN,0.050588

In [3]:
df_raw.shape

(3865, 80)

In [ ]:
df_raw.columns

#### Renaming Columns

In [4]:
# Rename Features

df = (df_raw
       .replace({'galactic year': 'GYear'}) 
       .replace({'existence expectancy index': 'EEI'})
       .replace({'existence expectancy at birth': 'EEIatBirth'}) 
       .replace({'Gross income per capita': 'GI_Per_Capita'})
       .replace({'Expected years of education (galactic years)': 'E_GYrs_of_Edu'})
       .replace({'Mean years of education (galactic years)': 'Mean_GYrs_of_Ed'})
       .replace({'Intergalactic Development Index (IDI)': 'IDI'}) 
       .replace({'Intergalactic Development Index (IDI), Rank': 'IDI_Rank'})
       .replace({'Population using at least basic drinking-water services (%)': '%Pop_with_dwater'})
       .replace({'Population using at least basic sanitation services (%)': '%Pop_basic_sanit'})
       .replace({'Gross capital formation (% of GGP)': 'GCF_%_of_GDP'}) 
       .replace({'Population, total (millions)': 'Pop_in_Millions'})
       .replace({'Population, urban (%)': '%Urban_Pop'})
       .replace({'Mortality rate, under-five (per 1,000 live births)': 'Mort_Rate_lt_5_per1K'})
       .replace({'Mortality rate, infant (per 1,000 live births)': 'Mort_Rate_infant_per1K'})
       .replace({'Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))': 'Old_Age_Dep'})
       .replace({'Population, ages 15–64 (millions)': 'Adult_Pop_in_Mln'})
       .replace({'Population, ages 65 and older (millions)': 'Pop_gt_65_in_Millions'})
       .replace({'Life expectancy at birth, male (galactic years)': 'Life_Exp_at_Birth_M'})
       .replace({'Life expectancy at birth, female (galactic years)': 'Life_Exp_at_Birth_F'})
       .replace({'Population, under age 5 (millions)': 'Pop_lt_5(millions)'})
       .replace({'Young age (0-14) dependency ratio (per 100 creatures ages 15-64)': 'Young_Age_Dep(0-14)'})
       .replace({'Adolescent birth rate (births per 1,000 female creatures ages 15-19)': 'Adolesc_Birth_Rate(per1000females)'})
       .replace({'Total unemployment rate (female to male ratio)': 'Tot_Unemployment_Rate(F:M_Ratio)'})
       .replace({'Vulnerable employment (% of total employment)': 'Vulnerable_Emp(%_of_Tot_Emp)'})
       .replace({'Unemployment, total (% of labour force)': 'Total Unemployment(% of labour force)'})
       .replace({'Employment in agriculture (% of total employment)': 'Emp_Agri(%Tot)'})
       .replace({'Labour force participation rate (% ages 15 and older)': 'Labour_Force%_Participation'})
       .replace({'Labour force participation rate (% ages 15 and older), female': 'Labour_Force%_Participation_F'})
       .replace({'Employment in services (% of total employment)': 'Emp_Services(%Tot)'})
       .replace({'Labour force participation rate (% ages 15 and older), male': 'Labour_Force%_Participation_M'})
       .replace({'Employment to population ratio (% ages 15 and older)': '%Empl_Ratio'})
       .replace({'Jungle area (% of total land area)' : 'Jungle(%_of_Tot_Land_Area)'})
       .replace({'Share of employment in nonagriculture, female (% of total employment in nonagriculture)' : '%Female_Emp_NonAgri'})
       .replace({'Youth unemployment rate (female to male ratio)' : 'Youth_UnEmpl_Ratio(F:M)'})
       .replace({'Unemployment, youth (% ages 15–24)' : '%UnEmpl_Youth(15-24)'})
       .replace({'Mortality rate, female grown up (per 1,000 people)' : 'Mort_Rate_Adult_F_per1000'})
       .replace({'Mortality rate, male grown up (per 1,000 people)' : 'Mort_Rate_Adult_M_per1000'})
       .replace({'Infants lacking immunization, red hot disease (% of one-galactic year-olds)' : '%Infant_No_IMUN(Red_Hot_Dis)'})
       .replace({'Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)' : '%Infant_No_Comb_Vaccine'})
       .replace({'Gross galactic product (GGP) per capita' : 'per-capita_GGP'})
       .replace({'Gross galactic product (GGP), total' : 'total Gross Gal_product'})
       .replace({'Outer Galaxies direct investment, net inflows (% of GGP)' : 'FDI_Net_inflows(% of GGP)'})
       .replace({'Exports and imports (% of GGP)' : 'Export_Import(% of GGP)'})
       .replace({'Share of seats in senate (% held by female)' : '%_Female_Senate'})
       .replace({'Natural resource depletion': 'Natural Resource Depl'})
       .replace({'Mean years of education, female (galactic years)' : 'MeanGYears_of_Edu_F'})
       .replace({'Mean years of education, male (galactic years)' : 'MeanGYears_of_Edu_M'})
       .replace({'Expected years of education, female (galactic years)' : 'Exp_GYears_of_Edu_F'})
       .replace({'Expected years of education, male (galactic years)' : 'Exp_GYears_of_Edu_M'})
       .replace({'Maternal mortality ratio (deaths per 100,000 live births)' : 'Maternal_Mort_Ratio(deaths per 1000 live Births)'})
       .replace({'Renewable energy consumption (% of total final energy consumption)' : 'Renewable Energy, % Total'})
       .replace({'Estimated gross galactic income per capita, male' : 'Est Gross G_Income_per Capita (M)'})
       .replace({'Estimated gross galactic income per capita, female' : 'Est Gross G_Income_per Capita (F)'})
       .replace({'Rural population with access to electricity (%)' : '%Rural_Pop_with_Elec'})
       .replace({'Domestic credit provided by financial sector (% of GGP)' : 'Bank Loans (% of GGP)'})
       .replace({'Population with at least some secondary education, female (% ages 25 and older)' : '%F_Pop with Sec Edu (Age gt 25)'})
       .replace({'Population with at least some secondary education, male (% ages 25 and older)' : '%M_Pop_with_Sec_Edu (Age gt 25)'})
       .replace({'Gross fixed capital formation (% of GGP)' : 'Gross Fixed Capital Formation (% of GGP)'})
       .replace({'Remittances, inflows (% of GGP)' : 'Remittances, inflows (% of GGP)'})
       .replace({'Population with at least some secondary education (% ages 25 and older)' : '%Pop_with_Sec_Edu (Age gt 25)'})
       .replace({'Intergalactic inbound tourists (thousands)' : 'No_of_Tourists(000s)'})
       .replace({'Gross enrolment ratio, primary (% of primary under-age population)' : 'Gross Enrolment Ratio'})
       .replace({'Respiratory disease incidence (per 100,000 people)' : 'Resp Disease Incd per1000'})
       .replace({'Interstellar phone subscriptions (per 100 people)' : 'Phone Subscr per100'})
       .replace({'Interstellar Data Net users, total (% of population)' : 'Total Data Net Users (% of Pop)'})
       .replace({'Current health expenditure (% of GGP)' : 'Current Health Exp (% of GGP)'})
       .replace({'Intergalactic Development Index (IDI), female' : 'Dev Index (IDI_F)'})
       .replace({'Intergalactic Development Index (IDI), male' : 'Dev Index (IDI_M)'})
       .replace({'Gender Development Index (GDI)' : 'Gender Development Index (GDI)'})
       .replace({'Intergalactic Development Index (IDI), female, Rank' : 'Dev Index (IDI_F_Rank'})
       .replace({'Intergalactic Development Index (IDI), male, Rank' : 'Dev Index (IDI_M_Rank'})
       .replace({'Adjusted net savings ' : 'Adj Net savings'})
       .replace({'Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total' : 'Immuno Disease Prev (% ages 15-49)'})
       .replace({'Private galaxy capital flows (% of GGP)' : 'Private galaxy capital flows (% of GGP)'})
       .replace({'Gender Inequality Index (GII)' : 'Gender Inequality Index (GII)'})
    )

In [5]:
df.head()

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

In [11]:
# Rename Features

df1 = df_raw.rename(columns = {'galactic year': 'GYear',    
       'galactic year': 'GYear' ,
       'existence expectancy index': 'EEI',
       'existence expectancy at birth': 'EEIatBirth' ,
       'Gross income per capita': 'GI_Per_Capita',
       'Expected years of education (galactic years)': 'E_GYrs_of_Edu',
       'Mean years of education (galactic years)': 'Mean_GYrs_of_Ed',
       'Intergalactic Development Index (IDI)': 'IDI', 
       'Intergalactic Development Index (IDI), Rank': 'IDI_Rank',
       'Population using at least basic drinking-water services (%)': '%Pop_with_dwater',
       'Population using at least basic sanitation services (%)': '%Pop_basic_sanit',
       'Gross capital formation (% of GGP)': 'GCF_%_of_GDP', 
       'Population, total (millions)': 'Pop_in_Millions',
       'Population, urban (%)': '%Urban_Pop',
       'Mortality rate, under-five (per 1,000 live births)': 'Mort_Rate_lt_5_per1K',
       'Mortality rate, infant (per 1,000 live births)': 'Mort_Rate_infant_per1K',
       'Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))': 'Old_Age_Dep',
       'Population, ages 15–64 (millions)': 'Adult_Pop_in_Mln',
       'Population, ages 65 and older (millions)': 'Pop_gt_65_in_Millions',
       'Life expectancy at birth, male (galactic years)': 'Life_Exp_at_Birth_M',
       'Life expectancy at birth, female (galactic years)': 'Life_Exp_at_Birth_F',
       'Population, under age 5 (millions)': 'Pop_lt_5(millions)',
       'Young age (0-14) dependency ratio (per 100 creatures ages 15-64)': 'Young_Age_Dep(0-14)',
       'Adolescent birth rate (births per 1,000 female creatures ages 15-19)': 'Adolesc_Birth_Rate(per1000females)',
       'Total unemployment rate (female to male ratio)': 'Tot_Unemployment_Rate(F:M_Ratio)',
       'Vulnerable employment (% of total employment)': 'Vulnerable_Emp(%_of_Tot_Emp)',
       'Unemployment, total (% of labour force)': 'Total Unemployment(% of labour force)',
       'Employment in agriculture (% of total employment)': 'Emp_Agri(%Tot)',
       'Labour force participation rate (% ages 15 and older)': 'Labour_Force%_Participation',
       'Labour force participation rate (% ages 15 and older), female': 'Labour_Force%_Participation_F',
       'Employment in services (% of total employment)': 'Emp_Services(%Tot)',
       'Labour force participation rate (% ages 15 and older), male': 'Labour_Force%_Participation_M',
       'Employment to population ratio (% ages 15 and older)': '%Empl_Ratio',
       'Jungle area (% of total land area)' : 'Jungle(%_of_Tot_Land_Area)',
       'Share of employment in nonagriculture, female (% of total employment in nonagriculture)' : '%Female_Emp_NonAgri',
       'Youth unemployment rate (female to male ratio)' : 'Youth_UnEmpl_Ratio(F:M)',
       'Unemployment, youth (% ages 15–24)' : '%UnEmpl_Youth(15-24)',
       'Mortality rate, female grown up (per 1,000 people)' : 'Mort_Rate_Adult_F_per1000',
       'Mortality rate, male grown up (per 1,000 people)' : 'Mort_Rate_Adult_M_per1000',
       'Infants lacking immunization, red hot disease (% of one-galactic year-olds)' : '%Infant_No_IMUN(Red_Hot_Dis)',
       'Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)' : '%Infant_No_Comb_Vaccine',
       'Gross galactic product (GGP) per capita' : 'per-capita_GGP',
       'Gross galactic product (GGP), total' : 'total Gross Gal_product',
       'Outer Galaxies direct investment, net inflows (% of GGP)' : 'FDI_Net_inflows(% of GGP)',
       'Exports and imports (% of GGP)' : 'Export_Import(% of GGP)',
       'Share of seats in senate (% held by female)' : '%_Female_Senate',
       'Natural resource depletion': 'Natural Resource Depl',
       'Mean years of education, female (galactic years)' : 'MeanGYears_of_Edu_F',
       'Mean years of education, male (galactic years)' : 'MeanGYears_of_Edu_M',
       'Expected years of education, female (galactic years)' : 'Exp_GYears_of_Edu_F',
       'Expected years of education, male (galactic years)' : 'Exp_GYears_of_Edu_M',
       'Maternal mortality ratio (deaths per 100,000 live births)' : 'Maternal_Mort_Ratio(deaths per 1000 live Births)',
       'Renewable energy consumption (% of total final energy consumption)' : 'Renewable Energy, % Total',
       'Estimated gross galactic income per capita, male' : 'Est Gross G_Income_per Capita (M)',
       'Estimated gross galactic income per capita, female' : 'Est Gross G_Income_per Capita (F)',
       'Rural population with access to electricity (%)' : '%Rural_Pop_with_Elec',
       'Domestic credit provided by financial sector (% of GGP)' : 'Bank Loans (% of GGP)',
       'Population with at least some secondary education, female (% ages 25 and older)' : '%F_Pop with Sec Edu (Age gt 25)',
       'Population with at least some secondary education, male (% ages 25 and older)' : '%M_Pop_with_Sec_Edu (Age gt 25)',
       'Gross fixed capital formation (% of GGP)' : 'Gross Fixed Capital Formation (% of GGP)',
       'Remittances, inflows (% of GGP)' : 'Remittances, inflows (% of GGP)',
       'Population with at least some secondary education (% ages 25 and older)' : '%Pop_with_Sec_Edu (Age gt 25)',
       'Intergalactic inbound tourists (thousands)' : 'No_of_Tourists(000s)',
       'Gross enrolment ratio, primary (% of primary under-age population)' : 'Gross Enrolment Ratio',
       'Respiratory disease incidence (per 100,000 people)' : 'Resp Disease Incd per1000',
       'Interstellar phone subscriptions (per 100 people)' : 'Phone Subscr per100',
       'Interstellar Data Net users, total (% of population)' : 'Total Data Net Users (% of Pop)',
       'Current health expenditure (% of GGP)' : 'Current Health Exp (% of GGP)',
       'Intergalactic Development Index (IDI), female' : 'Dev Index (IDI_F)',
       'Intergalactic Development Index (IDI), male' : 'Dev Index (IDI_M)',
       'Gender Development Index (GDI)' : 'Gender Development Index (GDI)',
       'Intergalactic Development Index (IDI), female, Rank' : 'Dev Index (IDI_F_Rank)',
       'Intergalactic Development Index (IDI), male, Rank' : 'Dev Index (IDI_M_Rank)',
       'Adjusted net savings ' : 'Adj Net savings',
       'Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total' : 'Immuno Disease Prev (% ages 15-49)',
       'Private galaxy capital flows (% of GGP)' : 'Private galaxy capital flows (% of GGP)',
       'Gender Inequality Index' : 'Gender Inequality Index'
})

In [12]:
df1.head()

,GYear,galaxy,EEI,EEIatBirth,GI_Per_Capita,Income Index,E_GYrs_of_Edu,Mean_GYrs_of_Ed,IDI,Education Index,...,Dev Index (IDI_F),Dev Index (IDI_M),Gender Development Index (GDI),Dev Index (IDI_F_Rank),Dev Index (IDI_M_Rank),Adj Net savings,Immuno Disease Prev (% ages 15-49),Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247

In [ ]:
# dropping passed columns 
df.drop(["galaxy"], axis = 1, inplace = True)
df

In [ ]:
#kaggle_data_raw = pd.read_csv('../input/kaggle-survey-2018/multipleChoiceResponses.csv')
kaggle_data_raw = kaggle_data_raw[['Q3','Q1','Q2','Q4','Q5','Q7','Q8','Q9']]

kaggle_data = (kaggle_data_raw
               .replace({'United States of America': 'United States'})
               .replace({'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom'})
               .replace({'Hong Kong (S.A.R.)': 'Hong Kong'})
               .replace({'Iran, Islamic Republic of...': 'Iran'})
               .replace({'Viet Nam': 'Vietnam'})
               .replace({'Republic of Korea':'South Korea'}) # TO BE CHECKED!
                )

country = (kaggle_data.Q3
           .value_counts()
           .drop('I do not wish to disclose my location')
           .drop('In which country do you currently reside?')
           .drop('Other')
            )

In [ ]:
len(df['galactic year'].unique().tolist())

In [ ]:
print(min(df['galactic year'])," to ",max(df['galactic year']))

In [ ]:
len(df['galaxy'].unique().tolist())

In [ ]:
#df.info()

In [ ]:
# Distribution graphs (histogram/bar graph) of column data
def plotPerColumnDistribution(df, nGraphShown, nGraphPerRow):
    nunique = df.nunique()
    df = df[[col for col in df if nunique[col] > 1 and nunique[col] < 50]] # For displaying purposes, pick columns that have between 1 and 50 unique values
    nRow, nCol = df.shape
    columnNames = list(df)
    nGraphRow = (nCol + nGraphPerRow - 1) / nGraphPerRow
    plt.figure(num = None, figsize = (6 * nGraphPerRow, 8 * nGraphRow), dpi = 80, facecolor = 'w', edgecolor = 'k')
    for i in range(min(nCol, nGraphShown)):
        plt.subplot(nGraphRow, nGraphPerRow, i + 1)
        columnDf = df.iloc[:, i]
        if (not np.issubdtype(type(columnDf.iloc[0]), np.number)):
            valueCounts = columnDf.value_counts()
            valueCounts.plot.bar()
        else:
            columnDf.hist()
        plt.ylabel('counts')
        plt.xticks(rotation = 90)
        plt.title(f'{columnNames[i]} (column {i})')
    plt.tight_layout(pad = 1.0, w_pad = 1.0, h_pad = 1.0)
    plt.show()

In [ ]:
# Correlation matrix
def plotCorrelationMatrix(df, graphWidth):
    filename = df.dataframeName
    df = df.dropna('columns') # drop columns with NaN
    df = df[[col for col in df if df[col].nunique() > 1]] # keep columns where there are more than 1 unique values
    if df.shape[1] < 2:
        print(f'No correlation plots shown: The number of non-NaN or constant columns ({df.shape[1]}) is less than 2')
        return
    corr = df.corr()
    plt.figure(num=None, figsize=(graphWidth, graphWidth), dpi=80, facecolor='w', edgecolor='k')
    corrMat = plt.matshow(corr, fignum = 1)
    plt.xticks(range(len(corr.columns)), corr.columns, rotation=90)
    plt.yticks(range(len(corr.columns)), corr.columns)
    plt.gca().xaxis.tick_bottom()
    plt.colorbar(corrMat)
    plt.title(f'Correlation Matrix for {filename}', fontsize=15)
    plt.show()

In [ ]:
# Scatter and density plots
def plotScatterMatrix(df, plotSize, textSize):
    df = df.select_dtypes(include =[np.number]) # keep only numerical columns
    # Remove rows and columns that would lead to df being singular
    df = df.dropna('columns')
    df = df[[col for col in df if df[col].nunique() > 1]] # keep columns where there are more than 1 unique values
    columnNames = list(df)
    if len(columnNames) > 10: # reduce the number of columns for matrix inversion of kernel density plots
        columnNames = columnNames[:10]
    df = df[columnNames]
    ax = pd.plotting.scatter_matrix(df, alpha=0.75, figsize=[plotSize, plotSize], diagonal='kde')
    corrs = df.corr().values
    for i, j in zip(*plt.np.triu_indices_from(ax, k = 1)):
        ax[i, j].annotate('Corr. coef = %.3f' % corrs[i, j], (0.8, 0.2), xycoords='axes fraction', ha='center', va='center', size=textSize)
    plt.suptitle('Scatter and Density Plot')
    plt.show()

In [ ]:
nRowsRead = 1000 # specify 'None' if want to read whole file
# test_to_download_final_1.csv may have more rows in reality, but we are only loading/previewing the first 1000 rows
df1 = pd.read_csv('train.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'train.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

#### Distribution graphs (histogram/bar graph) of sampled columns:

In [ ]:
plotPerColumnDistribution(df1, 10, 5)

#### Correlation matrix:

In [ ]:
plotCorrelationMatrix(df1, 19)

#### Scatter and density plots:

In [ ]:
plotScatterMatrix(df1, 20, 10)

### Country Income Group Analysis

In [ ]:
fig, ax = plt.subplots(1,1,figsize=(20,5))
country.sort_values(inplace=True,ascending=False)
p = sns.barplot(x=country.index,y=country, dodge=False, ax = ax)
dummy = p.set_xticklabels(country.index,rotation=90)
dummy = p.set_xlabel('')
dummy = p.set_ylabel('Kagglers')

In [ ]:
# summarize the dataset
#print(df.describe())

In [ ]:
# count the number of nan values in each column
#print(df.isnull().sum())

We can now use the World development Indices to calculate the number of Kagglers per habitant (in this case per 10 6  habitants)

Here are the two plots (kagglers and kagglers per capita) together, colour coded by region:

In [ ]:
c = ['#F3715A','#FFAD59','#F8FC98','#C5E17A','#00BCD4','#03A9F4','#AA55AA']
c2 = [c[3],c[5],c[0],c[1],c[4],c[6],c[2]]

fig, ax = plt.subplots(2,1,figsize=(20,10))
fig.subplots_adjust(hspace=0.6)

pop.sort_values('Kagglers',inplace=True,ascending=False)
p = sns.barplot(x='CountryName',y='Kagglers',hue='Region',data=pop, dodge=False, palette=c2, ax = ax[0])
dummy = p.set_xticklabels(pop.index,rotation=90)
dummy = p.set_xlabel('')

pop.sort_values('KagglersCapita',inplace=True,ascending=False)
p = sns.barplot(x='CountryName',y='KagglersCapita',hue='Region',data=pop, dodge=False, palette=c, ax = ax[1])
dummy = p.set_xticklabels(pop.index,rotation=90)
dummy = p.set_xlabel('')

To check this, I'll use the country classification from the World Development Indices, where countries can belong to one of these income groups:

- Low income
- Lower middle income
- Upper middle income
- High income: nonOECD
- High income: OECD

Here, I've spitted the countries in the Kaggle Survey in these cathegories, and plotted the total population, number of kagglers (people surveyed) and kaggler density for each group.

In [ ]:
incomegroups = (pop.groupby('IncomeGroup')
                .mean()
                .sort_values('AdjustedIncome',ascending=False))

fig,ax = plt.subplots(1,3,figsize=(15,5))
fig.subplots_adjust(right=0.99,hspace=0.4,bottom=0.2)
ax = ax.ravel()

features =['Pop','Kagglers','KagglersCapita']
for x,var in enumerate(features):
    p = sns.barplot(x=incomegroups.index,y=var,data=incomegroups,ax=ax[x],palette='Oranges_r')
    dummy = p.set_xticklabels(incomegroups.index,rotation=60)
    dummy = p.set_xlabel('')

# Feature Engineering

When using the MissingIndicator in a Pipeline, be sure to use the FeatureUnion or ColumnTransformer to add the indicator features to the regular features. First we obtain the iris dataset, and add some missing values to it.

In [ ]:
from sklearn.datasets import load_iris
from sklearn.impute import SimpleImputer, MissingIndicator
from sklearn.model_selection import train_test_split
from sklearn.pipeline import FeatureUnion, make_pipeline
from sklearn.tree import DecisionTreeClassifier
X, y = load_iris(return_X_y=True)
mask = np.random.randint(0, 2, size=X.shape).astype(np.bool)
X[mask] = np.nan
X_train, X_test, y_train, _ = train_test_split(X, y, test_size=100,
                                               random_state=0)

Now we create a FeatureUnion. All features will be imputed using SimpleImputer, in order to enable classifiers to work with this data. Additionally, it adds the the indicator variables from MissingIndicator.

In [ ]:
transformer = FeatureUnion(
    transformer_list=[
        ('features', SimpleImputer(strategy='mean')),
        ('indicators', MissingIndicator())])
transformer = transformer.fit(X_train, y_train)
results = transformer.transform(X_test)
results.shape

Of course, we cannot use the transformer to make any predictions. We should wrap this in a Pipeline with a classifier (e.g., a DecisionTreeClassifier) to be able to make predictions.

In [ ]:
clf = make_pipeline(transformer, DecisionTreeClassifier())
clf = clf.fit(X_train, y_train)
results = clf.predict(X_test)
results.shape

### Creating A Baseline Model
Predictors (p) and Samples (n): Ignoring the p and n

In [ ]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
logreg = LogisticRegression()
steps = [('imputation', imp),('logistic_regression', logreg)]
pipeline = Pipeline(steps)
X_train, X_test, y_train, y_test = train_test_split(X, y,
                                 test_size=0.3, random_state=42)
pipeline.fit(X_train, y_train)
y_pred = pipeline.predict(X_test)
pipeline.score(X_test, y_test)

In [ ]:
%reset -f