# ProHack Competition

## Competition Objectives

**Objective 1**

- · To understand what makes us better off.

Our elders used the composite index to measure our well-being performance, but this knowledge has disappeared in the sands of time.

Use our data and train your model to predict this index with the highest possible level of certainty.

**Objective 2**

- · To achieve the highest possible level of well-being through optimized allocation of additional energy

## Approach To Solution

# 1. Data Exploratory Analysis

In [ ]:
!python -m pip install mice

In [ ]:
!python -m pip install fancyimpute

## 1.1 Load Libraries

In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import seaborn as sns
sns.set_style('darkgrid')

import warnings
warnings.filterwarnings('ignore')

In [2]:
#import matplotlib.pylab as plt

from sklearn import linear_model
from sklearn.metrics import mean_squared_error, mean_squared_log_error, r2_score

from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics
%matplotlib inline

import plotly

## 1.2 Load Data

In [3]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')
#train = train.drop('galaxy', axis=1)

df_train.head(10)

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,...,"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.052590
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,NaN,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,NaN,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247
5,990025,KKh 060,0.824692,63.887135,28409.062695,0.671697,14.062458,9.978597,0.815264,0.796807,...,NaN,NaN,NaN,NaN,NaN,40.118699,3.981105,21.012897,NaN,0.052871
6,990025,Grus II,0.657457,68.555326,25648.328827,0.745674,15.434546,10.021786,0.662192,0.743891,...,NaN,NaN,NaN,NaN,NaN,12.984996,4.320539,NaN,NaN,0.052780
7,990025,UGCA 292,0.951043,75.693397,20935.541513,0.947961,14.862880,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,4.191899,NaN,NaN,0.062652
8,990025,Aquarius II,0.657402,61.337084,18231.029378,0.826377,15.173325,6.941815,0.725536,0.647240,...,NaN,NaN,NaN,NaN,NaN,-4.709357,6.151802,NaN,NaN,0.053927
9,990025,Andromeda XI,0.657180,62.554929,16196.125655,0.679096,12.937281,6.529242,0.561520,0.482450,...,NaN,NaN,NaN,NaN,NaN,8.731994,6.684401,NaN,NaN,0.050588

In [4]:
df_train.shape

(3865, 80)

In [ ]:
#df_train.columns

In [ ]:
def describe_data(df_train):
    print("Data Types:")
    print(df_train.dtypes)
    print("Rows and Columns:")
    print(df_train.shape)
    print("Column Names:")
    print(df_train.columns)
    print("Null Values:")
    print(df_train.apply(lambda x: sum(x.isnull()) / len(df_train)))
describe_data(df_train)

In [ ]:
# count the number of nan values in each column
print(df_train.isnull().sum())

### 1.3 Renaming Columns

In [5]:
# Rename Features

df_train1 = df_train.rename(columns = {'galactic year': 'GYear',    
       'galactic year': 'GYear' ,
       'existence expectancy index': 'EEI',
       'existence expectancy at birth': 'EEIatBirth' ,
       'Gross income per capita': 'GI_Per_Capita',
       'Expected years of education (galactic years)': 'E_GYrs_of_Edu',
       'Mean years of education (galactic years)': 'Mean_GYrs_of_Ed',
       'Intergalactic Development Index (IDI)': 'IDI', 
       'Intergalactic Development Index (IDI), Rank': 'IDI_Rank',
       'Population using at least basic drinking-water services (%)': '%Pop_with_dwater',
       'Population using at least basic sanitation services (%)': '%Pop_basic_sanit',
       'Gross capital formation (% of GGP)': 'GCF_%_of_GDP', 
       'Population, total (millions)': 'Pop_in_Millions',
       'Population, urban (%)': '%Urban_Pop',
       'Mortality rate, under-five (per 1,000 live births)': 'Mort_Rate_lt_5_per1K',
       'Mortality rate, infant (per 1,000 live births)': 'Mort_Rate_infant_per1K',
       'Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))': 'Old_Age_Dep',
       'Population, ages 15–64 (millions)': 'Adult_Pop_in_Mln',
       'Population, ages 65 and older (millions)': 'Pop_gt_65_in_Millions',
       'Life expectancy at birth, male (galactic years)': 'Life_Exp_at_Birth_M',
       'Life expectancy at birth, female (galactic years)': 'Life_Exp_at_Birth_F',
       'Population, under age 5 (millions)': 'Pop_lt_5(millions)',
       'Young age (0-14) dependency ratio (per 100 creatures ages 15-64)': 'Young_Age_Dep(0-14)',
       'Adolescent birth rate (births per 1,000 female creatures ages 15-19)': 'Adolesc_Birth_Rate(per1000females)',
       'Total unemployment rate (female to male ratio)': 'Tot_Unemployment_Rate(F:M_Ratio)',
       'Vulnerable employment (% of total employment)': 'Vulnerable_Emp(%_of_Tot_Emp)',
       'Unemployment, total (% of labour force)': 'Total Unemployment(% of labour force)',
       'Employment in agriculture (% of total employment)': 'Emp_Agri(%Tot)',
       'Labour force participation rate (% ages 15 and older)': 'Labour_Force%_Participation',
       'Labour force participation rate (% ages 15 and older), female': 'Labour_Force%_Participation_F',
       'Employment in services (% of total employment)': 'Emp_Services(%Tot)',
       'Labour force participation rate (% ages 15 and older), male': 'Labour_Force%_Participation_M',
       'Employment to population ratio (% ages 15 and older)': '%Empl_Ratio',
       'Jungle area (% of total land area)' : 'Jungle(%_of_Tot_Land_Area)',
       'Share of employment in nonagriculture, female (% of total employment in nonagriculture)' : '%Female_Emp_NonAgri',
       'Youth unemployment rate (female to male ratio)' : 'Youth_UnEmpl_Ratio(F:M)',
       'Unemployment, youth (% ages 15–24)' : '%UnEmpl_Youth(15-24)',
       'Mortality rate, female grown up (per 1,000 people)' : 'Mort_Rate_Adult_F_per1000',
       'Mortality rate, male grown up (per 1,000 people)' : 'Mort_Rate_Adult_M_per1000',
       'Infants lacking immunization, red hot disease (% of one-galactic year-olds)' : '%Infant_No_IMUN(Red_Hot_Dis)',
       'Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)' : '%Infant_No_Comb_Vaccine',
       'Gross galactic product (GGP) per capita' : 'per-capita_GGP',
       'Gross galactic product (GGP), total' : 'total Gross Gal_product',
       'Outer Galaxies direct investment, net inflows (% of GGP)' : 'FDI_Net_inflows(% of GGP)',
       'Exports and imports (% of GGP)' : 'Export_Import(% of GGP)',
       'Share of seats in senate (% held by female)' : '%_Female_Senate',
       'Natural resource depletion': 'Natural Resource Depl',
       'Mean years of education, female (galactic years)' : 'MeanGYears_of_Edu_F',
       'Mean years of education, male (galactic years)' : 'MeanGYears_of_Edu_M',
       'Expected years of education, female (galactic years)' : 'Exp_GYears_of_Edu_F',
       'Expected years of education, male (galactic years)' : 'Exp_GYears_of_Edu_M',
       'Maternal mortality ratio (deaths per 100,000 live births)' : 'Maternal_Mort_Ratio(deaths per 1000 live Births)',
       'Renewable energy consumption (% of total final energy consumption)' : 'Renewable Energy, % Total',
       'Estimated gross galactic income per capita, male' : 'Est Gross G_Income_per Capita (M)',
       'Estimated gross galactic income per capita, female' : 'Est Gross G_Income_per Capita (F)',
       'Rural population with access to electricity (%)' : '%Rural_Pop_with_Elec',
       'Domestic credit provided by financial sector (% of GGP)' : 'Bank Loans (% of GGP)',
       'Population with at least some secondary education, female (% ages 25 and older)' : '%F_Pop with Sec Edu (Age gt 25)',
       'Population with at least some secondary education, male (% ages 25 and older)' : '%M_Pop_with_Sec_Edu (Age gt 25)',
       'Gross fixed capital formation (% of GGP)' : 'Gross Fixed Capital Formation (% of GGP)',
       'Remittances, inflows (% of GGP)' : 'Remittances, inflows (% of GGP)',
       'Population with at least some secondary education (% ages 25 and older)' : '%Pop_with_Sec_Edu (Age gt 25)',
       'Intergalactic inbound tourists (thousands)' : 'No_of_Tourists(000s)',
       'Gross enrolment ratio, primary (% of primary under-age population)' : 'Gross Enrolment Ratio',
       'Respiratory disease incidence (per 100,000 people)' : 'Resp Disease Incd per1000',
       'Interstellar phone subscriptions (per 100 people)' : 'Phone Subscr per100',
       'Interstellar Data Net users, total (% of population)' : 'Total Data Net Users (% of Pop)',
       'Current health expenditure (% of GGP)' : 'Current Health Exp (% of GGP)',
       'Intergalactic Development Index (IDI), female' : 'Dev Index (IDI_F)',
       'Intergalactic Development Index (IDI), male' : 'Dev Index (IDI_M)',
       'Gender Development Index (GDI)' : 'Gender Development Index (GDI)',
       'Intergalactic Development Index (IDI), female, Rank' : 'Dev Index (IDI_F_Rank)',
       'Intergalactic Development Index (IDI), male, Rank' : 'Dev Index (IDI_M_Rank)',
       'Adjusted net savings ' : 'Adj Net savings',
       'Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total' : 'Immuno Disease Prev (% ages 15-49)',
       'Private galaxy capital flows (% of GGP)' : 'Private galaxy capital flows (% of GGP)',
       'Gender Inequality Index' : 'Gender Inequality Index'
})

In [6]:
# Rename Features

df_test1 = df_test.rename(columns = {'galactic year': 'GYear',    
       'galactic year': 'GYear' ,
       'existence expectancy index': 'EEI',
       'existence expectancy at birth': 'EEIatBirth' ,
       'Gross income per capita': 'GI_Per_Capita',
       'Expected years of education (galactic years)': 'E_GYrs_of_Edu',
       'Mean years of education (galactic years)': 'Mean_GYrs_of_Ed',
       'Intergalactic Development Index (IDI)': 'IDI', 
       'Intergalactic Development Index (IDI), Rank': 'IDI_Rank',
       'Population using at least basic drinking-water services (%)': '%Pop_with_dwater',
       'Population using at least basic sanitation services (%)': '%Pop_basic_sanit',
       'Gross capital formation (% of GGP)': 'GCF_%_of_GDP', 
       'Population, total (millions)': 'Pop_in_Millions',
       'Population, urban (%)': '%Urban_Pop',
       'Mortality rate, under-five (per 1,000 live births)': 'Mort_Rate_lt_5_per1K',
       'Mortality rate, infant (per 1,000 live births)': 'Mort_Rate_infant_per1K',
       'Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))': 'Old_Age_Dep',
       'Population, ages 15–64 (millions)': 'Adult_Pop_in_Mln',
       'Population, ages 65 and older (millions)': 'Pop_gt_65_in_Millions',
       'Life expectancy at birth, male (galactic years)': 'Life_Exp_at_Birth_M',
       'Life expectancy at birth, female (galactic years)': 'Life_Exp_at_Birth_F',
       'Population, under age 5 (millions)': 'Pop_lt_5(millions)',
       'Young age (0-14) dependency ratio (per 100 creatures ages 15-64)': 'Young_Age_Dep(0-14)',
       'Adolescent birth rate (births per 1,000 female creatures ages 15-19)': 'Adolesc_Birth_Rate(per1000females)',
       'Total unemployment rate (female to male ratio)': 'Tot_Unemployment_Rate(F:M_Ratio)',
       'Vulnerable employment (% of total employment)': 'Vulnerable_Emp(%_of_Tot_Emp)',
       'Unemployment, total (% of labour force)': 'Total Unemployment(% of labour force)',
       'Employment in agriculture (% of total employment)': 'Emp_Agri(%Tot)',
       'Labour force participation rate (% ages 15 and older)': 'Labour_Force%_Participation',
       'Labour force participation rate (% ages 15 and older), female': 'Labour_Force%_Participation_F',
       'Employment in services (% of total employment)': 'Emp_Services(%Tot)',
       'Labour force participation rate (% ages 15 and older), male': 'Labour_Force%_Participation_M',
       'Employment to population ratio (% ages 15 and older)': '%Empl_Ratio',
       'Jungle area (% of total land area)' : 'Jungle(%_of_Tot_Land_Area)',
       'Share of employment in nonagriculture, female (% of total employment in nonagriculture)' : '%Female_Emp_NonAgri',
       'Youth unemployment rate (female to male ratio)' : 'Youth_UnEmpl_Ratio(F:M)',
       'Unemployment, youth (% ages 15–24)' : '%UnEmpl_Youth(15-24)',
       'Mortality rate, female grown up (per 1,000 people)' : 'Mort_Rate_Adult_F_per1000',
       'Mortality rate, male grown up (per 1,000 people)' : 'Mort_Rate_Adult_M_per1000',
       'Infants lacking immunization, red hot disease (% of one-galactic year-olds)' : '%Infant_No_IMUN(Red_Hot_Dis)',
       'Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)' : '%Infant_No_Comb_Vaccine',
       'Gross galactic product (GGP) per capita' : 'per-capita_GGP',
       'Gross galactic product (GGP), total' : 'total Gross Gal_product',
       'Outer Galaxies direct investment, net inflows (% of GGP)' : 'FDI_Net_inflows(% of GGP)',
       'Exports and imports (% of GGP)' : 'Export_Import(% of GGP)',
       'Share of seats in senate (% held by female)' : '%_Female_Senate',
       'Natural resource depletion': 'Natural Resource Depl',
       'Mean years of education, female (galactic years)' : 'MeanGYears_of_Edu_F',
       'Mean years of education, male (galactic years)' : 'MeanGYears_of_Edu_M',
       'Expected years of education, female (galactic years)' : 'Exp_GYears_of_Edu_F',
       'Expected years of education, male (galactic years)' : 'Exp_GYears_of_Edu_M',
       'Maternal mortality ratio (deaths per 100,000 live births)' : 'Maternal_Mort_Ratio(deaths per 1000 live Births)',
       'Renewable energy consumption (% of total final energy consumption)' : 'Renewable Energy, % Total',
       'Estimated gross galactic income per capita, male' : 'Est Gross G_Income_per Capita (M)',
       'Estimated gross galactic income per capita, female' : 'Est Gross G_Income_per Capita (F)',
       'Rural population with access to electricity (%)' : '%Rural_Pop_with_Elec',
       'Domestic credit provided by financial sector (% of GGP)' : 'Bank Loans (% of GGP)',
       'Population with at least some secondary education, female (% ages 25 and older)' : '%F_Pop with Sec Edu (Age gt 25)',
       'Population with at least some secondary education, male (% ages 25 and older)' : '%M_Pop_with_Sec_Edu (Age gt 25)',
       'Gross fixed capital formation (% of GGP)' : 'Gross Fixed Capital Formation (% of GGP)',
       'Remittances, inflows (% of GGP)' : 'Remittances, inflows (% of GGP)',
       'Population with at least some secondary education (% ages 25 and older)' : '%Pop_with_Sec_Edu (Age gt 25)',
       'Intergalactic inbound tourists (thousands)' : 'No_of_Tourists(000s)',
       'Gross enrolment ratio, primary (% of primary under-age population)' : 'Gross Enrolment Ratio',
       'Respiratory disease incidence (per 100,000 people)' : 'Resp Disease Incd per1000',
       'Interstellar phone subscriptions (per 100 people)' : 'Phone Subscr per100',
       'Interstellar Data Net users, total (% of population)' : 'Total Data Net Users (% of Pop)',
       'Current health expenditure (% of GGP)' : 'Current Health Exp (% of GGP)',
       'Intergalactic Development Index (IDI), female' : 'Dev Index (IDI_F)',
       'Intergalactic Development Index (IDI), male' : 'Dev Index (IDI_M)',
       'Gender Development Index (GDI)' : 'Gender Development Index (GDI)',
       'Intergalactic Development Index (IDI), female, Rank' : 'Dev Index (IDI_F_Rank)',
       'Intergalactic Development Index (IDI), male, Rank' : 'Dev Index (IDI_M_Rank)',
       'Adjusted net savings ' : 'Adj Net savings',
       'Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total' : 'Immuno Disease Prev (% ages 15-49)',
       'Private galaxy capital flows (% of GGP)' : 'Private galaxy capital flows (% of GGP)',
       'Gender Inequality Index' : 'Gender Inequality Index'
})

In [7]:
df_train1.shape

(3865, 80)

In [8]:
len(df_train1['GYear'].unique().tolist())

26

In [9]:
print(min(df_train1['GYear'])," to ",max(df_train1['GYear']))

990025  to  1015056

In [10]:
len(df_train1['galaxy'].unique().tolist())

181

In [11]:
df_train1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3865 entries, 0 to 3864
Data columns (total 80 columns):
GYear                                               3865 non-null int64
galaxy                                              3865 non-null object
EEI                                                 3864 non-null float64
EEIatBirth                                          3864 non-null float64
GI_Per_Capita                                       3837 non-null float64
Income Index                                        3837 non-null float64
E_GYrs_of_Edu                                       3732 non-null float64
Mean_GYrs_of_Ed                                     3502 non-null float64
IDI                                                 3474 non-null float64
Education Index                                     3474 non-null float64
IDI_Rank                                            3432 non-null float64
%Pop_with_dwater                                    2021 non-null float64
%Pop_basic_sanit                                    2015 non-null float64
GCF_%_of_GDP                                        1502 non-null float64
Pop_in_Millions                                     1271 non-null float64
%Urban_Pop                                          1271 non-null float64
Mort_Rate_lt_5_per1K                                1271 non-null float64
Mort_Rate_infant_per1K                              1259 non-null float64
Old_Age_Dep                                         1264 non-null float64
Adult_Pop_in_Mln                                    1264 non-null float64
Pop_gt_65_in_Millions                               1264 non-null float64
Life_Exp_at_Birth_M                                 1264 non-null float64
Life_Exp_at_Birth_F                                 1264 non-null float64
Pop_lt_5(millions)                                  1264 non-null float64
Young_Age_Dep(0-14)                                 1264 non-null float64
Adolesc_Birth_Rate(per1000females)                  1252 non-null float64
Tot_Unemployment_Rate(F:M_Ratio)                    1237 non-null float64
Vulnerable_Emp(%_of_Tot_Emp)                        1237 non-null float64
Total Unemployment(% of labour force)               1237 non-null float64
Emp_Agri(%Tot)                                      1237 non-null float64
Labour_Force%_Participation                         1237 non-null float64
Labour_Force%_Participation_F                       1237 non-null float64
Emp_Services(%Tot)                                  1237 non-null float64
Labour_Force%_Participation_M                       1237 non-null float64
%Empl_Ratio                                         1237 non-null float64
Jungle(%_of_Tot_Land_Area)                          1234 non-null float64
%Female_Emp_NonAgri                                 1237 non-null float64
Youth_UnEmpl_Ratio(F:M)                             1236 non-null float64
%UnEmpl_Youth(15-24)                                1236 non-null float64
Mort_Rate_Adult_F_per1000                           1253 non-null float64
Mort_Rate_Adult_M_per1000                           1253 non-null float64
%Infant_No_IMUN(Red_Hot_Dis)                        1219 non-null float64
%Infant_No_Comb_Vaccine                             1219 non-null float64
per-capita_GGP                                      1202 non-null float64
total Gross Gal_product                             1202 non-null float64
FDI_Net_inflows(% of GGP)                           1169 non-null float64
Export_Import(% of GGP)                             1144 non-null float64
%_Female_Senate                                     1123 non-null float64
Natural Resource Depl                               1132 non-null float64
MeanGYears_of_Edu_F                                 1140 non-null float64
MeanGYears_of_Edu_M                                 1138 non-null float64
Exp_GYears_of_Edu_F                                 1109 non-null float64
Exp_GYears_of_Edu_M                                 1108 non-null float64
Maternal_Mort_Ratio(deaths per 1000 live Births)    1252 non-null float64
Renewable Energy, % Total                           1235 non-null float64
Est Gross G_Income_per Capita (M)                   1055 non-null float64
Est Gross G_Income_per Capita (F)                   1055 non-null float64
%Rural_Pop_with_Elec                                1029 non-null float64
Bank Loans (% of GGP)                               1079 non-null float64
%F_Pop with Sec Edu (Age gt 25)                     1089 non-null float64
%M_Pop_with_Sec_Edu (Age gt 25)                     1087 non-null float64
Gross Fixed Capital Formation (% of GGP)            1074 non-null float64
Remittances, inflows (% of GGP)                     1028 non-null float64
%Pop_with_Sec_Edu (Age gt 25)                       1051 non-null float64
No_of_Tourists(000s)                                995 non-null float64
Gross Enrolment Ratio                               1038 non-null float64
Resp Disease Incd per1000                           896 non-null float64
Phone Subscr per100                                 891 non-null float64
Total Data Net Users (% of Pop)                     872 non-null float64
Current Health Exp (% of GGP)                       867 non-null float64
Dev Index (IDI_F)                                   916 non-null float64
Dev Index (IDI_M)                                   915 non-null float64
Gender Development Index (GDI)                      914 non-null float64
Dev Index (IDI_F_Rank)                              893 non-null float64
Dev Index (IDI_M_Rank)                              892 non-null float64
Adj Net savings                                     912 non-null float64
Immuno Disease Prev (% ages 15-49)                  941 non-null float64
Private galaxy capital flows (% of GGP)             874 non-null float64
Gender Inequality Index (GII)                       844 non-null float64
y                                                   3865 non-null float64
dtypes: float64(78), int64(1), object(1)
memory usage: 2.4+ MB

## 1.4 Adding Energy Features

- Potential for increase in the Index = -np.log(Index+0.01)+3

- Likely increase in the Index = extra energy * Potential for increase in the Index **2 / 1000

#### Potential for increase in the Index

In [12]:
df_train1["Index_Potential_Max"] = -np.log(df_train1.y+0.01) +3
#df_train1.head()

#### Allocated Energy

**There are also several constraints:**

- In total there are 50000 zillion DSML available for allocation
- No galaxy should be allocated more than 100 zillion DSML or less than 0 zillion DSML
- Galaxies with low existence expectancy index below 0.7 should be allocated at least 10% of the total energy available

In [ ]:
# TODO: No galaxy should be allocated more than 100 zillion DSML or less than 0 zillion DSML
# TODO: Write a function

# TODO: Galaxies with low existence expectancy index below 0.7 should be allocated at least 10% of the total energy available
# TODO: Write a function

# Potential for increase in the Index 



#Extra_Energy = todo

### Creating Required Columns For Extra Energy and Predicted Likely Increase

In [18]:
Extra_Energy = 100
a = 1000

df_train1["Likely Index Increase"] = (Extra_Energy * (df_train1["Index_Potential_Max"])**2)/a

In [19]:
df_train1.head()

,GYear,galaxy,EEI,EEIatBirth,GI_Per_Capita,Income Index,E_GYrs_of_Edu,Mean_GYrs_of_Ed,IDI,Education Index,...,Dev Index (IDI_F_Rank),Dev Index (IDI_M_Rank),Adj Net savings,Immuno Disease Prev (% ages 15-49),Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y,Index_Potential_Max,Energy Allocation,Likely Index Increase
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052590,5.771153,,3.330621
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868,5.661147,,3.204859
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449,5.805954,,3.370910
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394,5.823558,,3.391383
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247,4.806384,,2.310133

In [ ]:
#data = np.random.randint(5,30,size=10)
#df = pd.DataFrame(data, columns=['random_numbers'])

In [20]:
np.random.seed(42)
df_train1['Energy Allocation'] = np.random.randint(0, 100, size=len(df_train1))

In [22]:
# TODO: Galaxies with low existence expectancy index below 0.7 should be allocated at least 10% of the total energy available
df_train1.loc[df_train1["EEI"] < .7, ["Energy Allocation"]] = Extra_Energy*.01

In [24]:
df_train1.head(20)

,GYear,galaxy,EEI,EEIatBirth,GI_Per_Capita,Income Index,E_GYrs_of_Edu,Mean_GYrs_of_Ed,IDI,Education Index,...,Dev Index (IDI_F_Rank),Dev Index (IDI_M_Rank),Adj Net savings,Immuno Disease Prev (% ages 15-49),Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y,Index_Potential_Max,Energy Allocation,Likely Index Increase
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052590,5.771153,1.0,3.330621
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868,5.661147,92.0,3.204859
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449,5.805954,1.0,3.370910
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394,5.823558,1.0,3.391383
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247,4.806384,60.0,2.310133
5,990025,KKh 060,0.824692,63.887135,28409.062695,0.671697,14.062458,9.978597,0.815264,0.796807,...,NaN,NaN,40.118699,3.981105,21.012897,NaN,0.052871,5.766676,20.0,3.325455
6,990025,Grus II,0.657457,68.555326,25648.328827,0.745674,15.434546,10.021786,0.662192,0.743891,...,NaN,NaN,12.984996,4.320539,NaN,NaN,0.052780,5.768115,1.0,3.327115
7,990025,UGCA 292,0.951043,75.693397,20935.541513,0.947961,14.862880,NaN,NaN,NaN,...,NaN,NaN,NaN,4.191899,NaN,NaN,0.062652,5.622074,86.0,3.160772
8,990025,Aquarius II,0.657402,61.337084,18231.029378,0.826377,15.173325,6.941815,0.725536,0.647240,...,NaN,NaN,-4.709357,6.151802,NaN,NaN,0.053927,5.750011,1.0,3.306263
9,990025,Andromeda XI,0.657180,62.554929,16196.125655,0.679096,12.937281,6.529242,0.561520,0.482450,...,NaN,NaN,8.731994,6.684401,NaN,NaN,0.050588,5.803655,1.0,3.368241
10,990025,Antlia Dwarf,0.828028,71.256422,21431.826516,0.856276,14.182337,11.856185,0.754593,0.748314,...,NaN,NaN,15.605437,5.680441,NaN,NaN,0.059472,5.666834,87.0,3.211301
11,990025,IC 1613 (UGC 668),0.655813,58.704321,23271.835536,0.612368,8.107780,3.838013,0.531766,0.285880,...,NaN,NaN,18.190769,5.221740,NaN,NaN,0.048902,5.831881,1.0,3.401084
12,990025,Leo P,1.068957,90.854092,48579.590188,1.082535,17.459732,13.422714,1.053766,0.964813,...,NaN,NaN,35.631013,5.686449,28.920114,NaN,0.178066,4.670961,23.0,2.181788
13,990025,"Cassiopeia Dwarf (Cas dSph, Andromeda VII)",0.951549,85.030094,39647.220197,1.000001,16.000716,14.202926,0.867767,0.774059,...,NaN,NaN,NaN,3.813574,NaN,NaN,0.154910,4.802356,2.0,2.306262
14,990025,Draco II,0.561894,58.912252,18747.428699,0.604681,3.977402,4.805284,0.492966,0.396193,...,NaN,NaN,NaN,NaN,NaN,NaN,0.050220,5.809744,1.0,3.375312
15,990025,Sagittarius II,0.900157,87.736478,29302.252053,0.900095,15.750780,12.096678,0.896661,0.813344,...,NaN,NaN,13.252422,4.307926,NaN,NaN,0.091072,5.291919,52.0,2.800441
16,990025,Carina III,0.989456,75.800059,24891.436792,0.752552,13.417376,14.641988,0.751911,0.802376,...,NaN,NaN,NaN,3.168971,NaN,NaN,0.082964,5.375546,1.0,2.889649
17,990025,UGCA 133 (DDO 44),0.562213,59.069890,17551.455514,0.638409,8.115963,7.409903,0.552880,0.488571,...,NaN,NaN,11.394272,10.148212,NaN,NaN,0.051881,5.782546,1.0,3.343784
18,990025,Lacerta I (Andromeda XXXI),0.831218,75.583884,27631.426302,0.915378,15.823600,12.322886,0.872507,0.793564,...,NaN,NaN,NaN,5.750289,NaN,NaN,0.072029,5.500684,29.0,3.025752
19,990025,Boötes IV,0.833808,70.506143,17635.842078,0.827792,11.887409,8.836915,0.615988,0.461565,...,NaN,NaN,22.622977,5.279254,14.634943,NaN,0.058657,5.678625,37.0,3.224679

#### Likely increase in the Index: Predicted?

In [ ]:
# Adding Column Likely increase in the Index
#df_train['Likely Index Increase'] = df_train.eval('extra energy * Potential Index Increase **2 / 1000')

### 1.5 Dropping Columns

In [ ]:
# dropping passed columns 
df_train2 = df_train1.drop(["galaxy"], axis = 1)
df_train2.head()

In [ ]:
# dropping passed columns 
df_test2 = df_test1.drop(["galaxy"], axis = 1)
df_test2.head()

### 1.6 Dropping NAs

In [ ]:
trimmed_df1 = df_train2.dropna()

trimmed_df2 = df_test2.dropna()

In [ ]:
trimmed_df1.shape

In [ ]:
trimmed_df2.shape

In [ ]:
trimmed_df1.head()

## 2. Data Visualization

In [ ]:
# Distribution graphs (histogram/bar graph) of column data
def plotPerColumnDistribution(df_train1, nGraphShown, nGraphPerRow):
    nunique = df_train1.nunique()
    df_train1 = df_train1[[col for col in df_train1 if nunique[col] > 1 and nunique[col] < 50]] # For displaying purposes, pick columns that have between 1 and 50 unique values
    nRow, nCol = df_train1.shape
    columnNames = list(df_train1)
    nGraphRow = (nCol + nGraphPerRow - 1) / nGraphPerRow
    plt.figure(num = None, figsize = (6 * nGraphPerRow, 8 * nGraphRow), dpi = 80, facecolor = 'w', edgecolor = 'k')
    for i in range(min(nCol, nGraphShown)):
        plt.subplot(nGraphRow, nGraphPerRow, i + 1)
        columnDf = df_train1.iloc[:, i]
        if (not np.issubdtype(type(columnDf.iloc[0]), np.number)):
            valueCounts = columnDf.value_counts()
            valueCounts.plot.bar()
        else:
            columnDf.hist()
        plt.ylabel('counts')
        plt.xticks(rotation = 90)
        plt.title(f'{columnNames[i]} (column {i})')
    plt.tight_layout(pad = 1.0, w_pad = 1.0, h_pad = 1.0)
    plt.show()

In [ ]:
# Correlation matrix
def plotCorrelationMatrix(df_train1, graphWidth):
    #filename = train.dataframeName
    df_train1 = df_train1.dropna('columns') # drop columns with NaN
    df_train1 = df_train1[[col for col in df_train1 if df_train1[col].nunique() > 1]] # keep columns where there are more than 1 unique values
    if df_train1.shape[1] < 2:
        print(f'No correlation plots shown: The number of non-NaN or constant columns ({df_train1.shape[1]}) is less than 2')
        return
    corr = df_train1.corr()
    plt.figure(num=None, figsize=(graphWidth, graphWidth), dpi=80, facecolor='w', edgecolor='k')
    corrMat = plt.matshow(corr, fignum = 1)
    plt.xticks(range(len(corr.columns)), corr.columns, rotation=90)
    plt.yticks(range(len(corr.columns)), corr.columns)
    plt.gca().xaxis.tick_bottom()
    plt.colorbar(corrMat)
    plt.title(f'Correlation Matrix for Training Data', fontsize=15)
    #plt.title(f'Correlation Matrix for {filename}', fontsize=15)
    plt.show()

In [ ]:
# Scatter and density plots
def plotScatterMatrix(df_train1, plotSize, textSize):
    df_train1 = df_train1.select_dtypes(include =[np.number]) # keep only numerical columns
    # Remove rows and columns that would lead to df being singular
    df_train1 = df_train1.dropna('columns')
    df_train1 = df_train1[[col for col in df_train1 if df_train1[col].nunique() > 1]] # keep columns where there are more than 1 unique values
    columnNames = list(df_train1)
    if len(columnNames) > 10: # reduce the number of columns for matrix inversion of kernel density plots
        columnNames = columnNames[:10]
    df_train1 = df_train1[columnNames]
    ax = pd.plotting.scatter_matrix(df_train1, alpha=0.75, figsize=[plotSize, plotSize], diagonal='kde')
    corrs = df_train1.corr().values
    for i, j in zip(*plt.np.triu_indices_from(ax, k = 1)):
        ax[i, j].annotate('Corr. coef = %.3f' % corrs[i, j], (0.8, 0.2), xycoords='axes fraction', ha='center', va='center', size=textSize)
    plt.suptitle('Scatter and Density Plot')
    plt.show()

### 2.1 Sample Data

In [ ]:
nRowsRead = 1000 # specify 'None' if want to read whole file
# For testing purposes, we are only loading/previewing the first 1000 rows
df1 = pd.read_csv('train.csv', delimiter=',', nrows = nRowsRead)
df1.dataframeName = 'train.csv'
nRow, nCol = df1.shape
print(f'There are {nRow} rows and {nCol} columns')

### 2.2 Distribution graphs (histogram/bar graph) of sampled columns:

In [ ]:
plotPerColumnDistribution(df1, 10, 5)

### 2.3 Correlation matrix:

In [ ]:
plotCorrelationMatrix(df1, 19)

### 2.4 Scatter and density plots:

In [ ]:
plotScatterMatrix(df1, 20, 10)

## 2.5 Checking For Linearity

#### a) Filter By Year

In [ ]:
t1 = df_train1[df_train1.GYear.eq(990025)]
#t1 = trimmed_df.GYear.eq(990025)
t1.head()

In [ ]:
#import re
#train['GYear'].filter(lambda x: re.match('-08$', x))

### Scatter Plot 1: Expectancy Vs Growth Index

In [ ]:
plt.scatter(t1['EEI'], t1['y'], color='green')
plt.title('Expectancy Vs Growth Index', fontsize=14)
plt.xlabel('Income Index', fontsize=14)
plt.ylabel('Growth Index', fontsize=14)
plt.grid(True)
plt.show()

### Scatter Plot 2: Income Index Vs Growth Index

In [ ]:
plt.scatter(t1['Income Index'], t1['y'], color='green')
plt.title('Income Index Vs Growth Index', fontsize=14)
plt.xlabel('Income Index', fontsize=14)
plt.ylabel('Growth Index', fontsize=14)
plt.grid(True)
plt.show()

### Scatter Plot 3: Gross Income per capita Vs Growth Index

In [ ]:
plt.scatter(t1['GI_Per_Capita'], t1['y'], color='green')
plt.title('Gross Income per capita Vs Growth Index', fontsize=14)
plt.xlabel('Gross Income per Capita', fontsize=14)
plt.ylabel('Growth Index', fontsize=14)
plt.grid(True)
plt.show()

#### b) Filter By Galaxy

In [ ]:
t2 = df_train[df_train.galaxy.eq('Andromeda XI')]

t2.head()

In [ ]:
plt.scatter(t2['galactic year'], t2['y'], color='green')
plt.title('Galactic Year Vs Growth Index', fontsize=14)
plt.xlabel('Galactic Year', fontsize=14)
plt.ylabel('Growth Index', fontsize=14)
plt.grid(True)
plt.show()

### c) Inspect The Growth Index, y

In [ ]:
plt.figure(figsize=(15,10))
plt.tight_layout()
sns.distplot(df1['y'])

## 3. Baseline Model: Modelling with Trimmed Data (trimmed_df)

### 3.1 Linear Regression

In [ ]:
X_columns = trimmed_df1.columns.tolist()[0:78]
y_columns = trimmed_df1.columns.tolist()[-2:-1]
#print(f'All columns: {trimmed_df1.columns.tolist()}')
print()
print(f'X values: {X_columns}')
print()
print(f'y values: {y_columns}')

In [ ]:
X = trimmed_df1[X_columns].values 
y = trimmed_df1[y_columns].values[:, 0]

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, shuffle=True)

In [ ]:
train_X.shape

In [ ]:
train_y.shape

In [ ]:
model = LinearRegression()
model.fit(train_X, train_y)

train_pred_y = model.predict(train_X)

In [ ]:
# Predicted Vs Actual
test_pred_y = model.predict(test_X)

In [ ]:
rmse_train = np.sqrt(mean_squared_error(train_pred_y, train_y))

# msle_train = mean_squared_log_error(train_pred_y, train_y)
rmse_test = np.sqrt(mean_squared_error(test_pred_y, test_y))

# msle_test = mean_squared_log_error(test_pred_y, test_y)

In [ ]:
# print('rmse_train:',rmse_train,'msle_train:',msle_train)
# print('rmse_test:',rmse_test,'msle_test:',msle_test)

In [ ]:
# Note that for rmse, the lower that value is, the better the fit
print('rmse_train:',rmse_train)
print('rmse_test:',rmse_test)

In [ ]:
# The closer towards 1, the better the fit
test_set_r2 = r2_score(test_y, test_pred_y)
test_set_r2

# Preliminary Test Submission

### Using The test.csv To Create a Submision File

To finish I will show you how to make your first submission. We now need to use the test.csv file that we read in earlier. Firstly we are going to create a new data frame with the Loan_ID column dropped.

In [ ]:
# dropping passed columns 

#trial1 = trimmed_df2.drop(["Potential Index Increase"], axis = 1)
#trial1.head()

In [ ]:
trimmed_df2.shape

In [ ]:
#trimmed_df2 = df_test2.dropna()

In [ ]:
#test_no_name = df_test.drop('galaxy', axis=1)

We then use our model to predict on this new data.

In [ ]:
test_predictions = model.predict(trimmed_df2)

Finally we need to build the submission file, which we know from looking at the sample submissions available on the website, needs to consist of a csv file containing the Loan_ID’s and corresponding predictions. In the below code I have obtained the Loan_ID’s from the original test data frame. I am then building a new data frame by combining with the test_predictions.

In [ ]:
df_test['galaxy'].head()

In [ ]:
galaxy.ndim

In [ ]:
test_predictions.ndim

In [ ]:
df_test.shape

In [ ]:
trimmed_df2.head()

In [ ]:
galaxy = trimmed_df2['galaxy']
submission_df_1 = pd.DataFrame({
                  "galaxy": galaxy, 
                  "y": test_predictions})

In [ ]:
#y[:, 0] or y.ravel()

Finally exporting this as a csv file using the pandas to_csv function. You can now upload this as a submission.

In [ ]:
submission_df_1.to_csv('submission_1.csv', index=False)

### 3.2 Baseline Results with XGBoost Regression?

In [ ]:
import xgboost
import csv as csv
from xgboost import plot_importance
from matplotlib import pyplot
from sklearn.model_selection import cross_val_score,KFold

from sklearn.model_selection import RandomizedSearchCV, GridSearchCV, train_test_split

from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt

from scipy.stats import skew
from collections import OrderedDict

In [ ]:
from sklearn.linear_model import RidgeCV, LassoCV
from sklearn.svm import SVR
estimators = [('ridge', RidgeCV()),
              ('lasso', LassoCV(random_state=42)),
              ('svr', SVR(C=1, gamma=1e-6))]

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import StackingRegressor
reg = StackingRegressor(
    estimators=estimators,
    final_estimator=GradientBoostingRegressor(random_state=42))

In [ ]:
#train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, shuffle=True)

In [ ]:

#X_train, X_test, y_train, y_test = train_test_split(X, y,
#                                                    random_state=42)
reg.fit(train_X, train_y)

In [ ]:
train_pred_y1 = reg.predict(train_X)

print(np.sqrt(mean_squared_error(train_y, train_pred_y1)))
print(r2_score(train_y, train_pred_y1))

test_pred_y1 = reg.predict(test_X)
from sklearn.metrics import r2_score
print('R2 score: {:.2f}'.format(r2_score(test_y, test_pred_y1)))

print(np.sqrt(mean_squared_error(test_y,test_pred_y1))) 
print(r2_score(test_y,test_pred_y1))

In [ ]:
reg.transform(test_X[:5])

In [ ]:
final_layer = StackingRegressor(
    estimators=[('rf', RandomForestRegressor(random_state=42)),
                ('gbrt', GradientBoostingRegressor(random_state=42))],
    final_estimator=RidgeCV()
    )
multi_layer_regressor = StackingRegressor(
    estimators=[('ridge', RidgeCV()),
                ('lasso', LassoCV(random_state=42)),
                ('svr', SVR(C=1, gamma=1e-6, kernel='rbf'))],
    final_estimator=final_layer
)
multi_layer_regressor.fit(train_X, train_y)

print('R2 score: {:.2f}'
      .format(multi_layer_regressor.score(test_X, test_y)))

### 3.3 Looking For Most Relevant Features

In [ ]:
# Using trimmed_df1 dataset
#train_dataset = train_dataset.fillna(train_dataset.mean())
#test_dataset = test_dataset.fillna(test_dataset.mean())

In [ ]:
model = xgboost.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.07,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=10000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)

In [ ]:
X4 = [col for col in trimmed_df1.columns if col not in ['y','Potential Index Increase']]

model.fit(trimmed_df1[X4], trimmed_df1['y'])

OrderedDict(sorted(model.booster().get_fscore().items(), key = lambda t: t[1], reverse=True))

#### Removing Less Important Ones

In [ ]:
#Let's remove the less important ones 
most_relevant_features= list( dict((k, v) for k, v in model.booster().get_fscore().items() if v >= 10).keys())
print(most_relevant_features)

#### Analyzing Most Important Features

In [ ]:
plt.scatter(trimmed_df1.GrLivArea, trimmed_df1.y, c = "blue", marker = "s")
plt.title("GrLivArea vs SalePrice")
plt.xlabel("GrLivArea")
plt.ylabel("SalePrice")
plt.show()

In [ ]:
#removing outliers
train_dataset = train_dataset[train_dataset.GrLivArea < 8.25]
train_dataset = train_dataset[train_dataset.LotArea < 11.5]
train_dataset = train_dataset[train_dataset.SalePrice<13]
train_dataset = train_dataset[train_dataset.SalePrice>10.75]
train_dataset.drop("Id", axis=1, inplace=True)

#### Calculating The Best Hyperparameters

In [ ]:
best_xgb_model = xgboost.XGBRegressor(colsample_bytree=0.4,
                 gamma=0,                 
                 learning_rate=0.07,
                 max_depth=3,
                 min_child_weight=1.5,
                 n_estimators=10000,                                                                    
                 reg_alpha=0.75,
                 reg_lambda=0.45,
                 subsample=0.6,
                 seed=42)
best_xgb_model.fit(train_x,train_y)

#### Let's predict for test data and generate submission file

In [ ]:
test_dataset['Prediction'] = np.expm1(best_xgb_model.predict(test_dataset[most_relevant_features]))
filename = 'submission.csv'
pd.DataFrame({'Id': test_dataset.Id, 'SalePrice': test_dataset.Prediction}).to_csv(filename, index=False)

In [ ]:
print(test_dataset['Prediction'].head())
print(test_dataset['Prediction'].count())

In [ ]:
from sklearn.datasets import load_boston
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import VotingRegressor

# Loading some example data
X, y = load_boston(return_X_y=True)

# Training classifiers
reg1 = GradientBoostingRegressor(random_state=1, n_estimators=10)
reg2 = RandomForestRegressor(random_state=1, n_estimators=10)
reg3 = LinearRegression()
ereg = VotingRegressor(estimators=[('gb', reg1), ('rf', reg2), ('lr', reg3)])
ereg = ereg.fit(X, y)

# 4. Feature Engineering

When using the MissingIndicator in a Pipeline, be sure to use the FeatureUnion or ColumnTransformer to add the indicator features to the regular features. First we obtain the iris dataset, and add some missing values to it.

In [ ]:
from pandasql import *
import pandasql as ps

# from pandasql import sqldf
# pysqldf = lambda q: sqldf(q, globals())

q1 = """SELECT * 
        FROM df_train
        
        ORDER BY galaxy DESC
        
        """
        
#print(ps.sqldf(q1, globals()))
grouped_data = ps.sqldf(q1, globals())
grouped_data

## Label Encoding Galaxies

In [ ]:
grouped_data.shape

In [ ]:
X_columns1 = grouped_data.columns.tolist()[0:79]
y_columns1 = grouped_data.columns.tolist()[-2:-1]
#print(f'All columns: {grouped_data.columns.tolist()}')
print()
print(f'X values: {X_columns1}')
print()
print(f'y values: {y_columns1}')

In [ ]:
X1 = grouped_data[X_columns1].values 
y1 = grouped_data[y_columns1].values[:, 0]

In [ ]:
X1.shape

In [ ]:
X1

In [ ]:
y1

In [ ]:
np.isnan(y1).any()

In [ ]:
#np.count_nonzero(~np.isnan(y))
np.count_nonzero(np.isnan(y1))

In [ ]:
y1.dtype

In [ ]:
# Encoding categorical (string based) data. Country: there are 3 options: France, Spain and Germany
# This will convert those strings into scalar values for analysis
print(X1[:8,1], '... will now become: ')
from sklearn.preprocessing import LabelEncoder
label_X1_galactic_encoder = LabelEncoder()
X1[:,1] = label_X1_galactic_encoder.fit_transform(X1[:,1])
print(X1[:8,1])

In [ ]:
y1

## Missing Values Imputation Using MICE

In [ ]:
from sklearn.datasets import make_classification
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
X1.shape[0]

In [ ]:
# The fancyimpute package takes a single combined matrix as input
f = np.hstack((X1, y1[:, None]))

print ("Output stacked array :\n ", f)

In [ ]:
from fancyimpute import IterativeImputer
MICE_imputer = IterativeImputer()
f_complete = f.copy()
f_complete[:, :] = MICE_imputer.fit_transform(f_complete)

In [ ]:
(f_complete == np.nan).any()

In [ ]:
y1

In [ ]:
(y1 == np.nan).any()

In [ ]:
y1.shape

In [ ]:
f_complete.shape

In [ ]:
f_complete

# Filling in Missing Data Segment by Segment

#### Using Forward and Back Fill Methods

In [37]:
df_train1.head()

,GYear,galaxy,EEI,EEIatBirth,GI_Per_Capita,Income Index,E_GYrs_of_Edu,Mean_GYrs_of_Ed,IDI,Education Index,...,Dev Index (IDI_F_Rank),Dev Index (IDI_M_Rank),Adj Net savings,Immuno Disease Prev (% ages 15-49),Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y,Index_Potential_Max,Energy Allocation,Likely Index Increase
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.052590,5.771153,1.0,3.330621
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,NaN,NaN,19.177926,NaN,22.785018,NaN,0.059868,5.661147,92.0,3.204859
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,NaN,NaN,21.151265,6.534020,NaN,NaN,0.050449,5.805954,1.0,3.370910
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,5.912194,NaN,NaN,0.049394,5.823558,1.0,3.391383
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,NaN,NaN,NaN,5.611753,NaN,NaN,0.154247,4.806384,60.0,2.310133

In [ ]:
#df_train1.fillna(df_train1.groupby(['galaxy'], as_index=False)
#                                .fillna(method='ffill')
#                                .fillna(method='bfill'), inplace=True)

In [41]:
dftr_imputed = df_train1.fillna(df_train1.groupby(['galaxy'], as_index=False)
                                .fillna(method='ffill')
                                .fillna(method='bfill'))
dftr_imputed.head()

,GYear,galaxy,EEI,EEIatBirth,GI_Per_Capita,Income Index,E_GYrs_of_Edu,Mean_GYrs_of_Ed,IDI,Education Index,...,Dev Index (IDI_F_Rank),Dev Index (IDI_M_Rank),Adj Net savings,Immuno Disease Prev (% ages 15-49),Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y,Index_Potential_Max,Energy Allocation,Likely Index Increase
0,990025,Large Magellanic Cloud (LMC),0.628657,63.125200,27109.234310,0.646039,8.240543,4.742470,0.833624,0.467873,...,46.076361,58.185247,19.177926,6.534020,22.785018,0.384441,0.052590,5.771153,1.0,3.330621
1,990025,Camelopardalis B,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,...,46.076361,58.185247,19.177926,6.534020,22.785018,0.384441,0.059868,5.661147,92.0,3.204859
2,990025,Virgo I,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,...,46.076361,58.185247,21.151265,6.534020,21.012897,0.384441,0.050449,5.805954,1.0,3.370910
3,990025,UGC 8651 (DDO 181),0.555862,52.333293,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,46.076361,58.185247,40.118699,5.912194,21.012897,0.384441,0.049394,5.823558,1.0,3.391383
4,990025,Tucana Dwarf,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,...,46.076361,58.185247,40.118699,5.611753,21.012897,0.384441,0.154247,4.806384,60.0,2.310133

### Sorting Data By Galaxy

In [42]:
And1 =dftr_imputed[dftr_imputed["galaxy"] == 'Andromeda II']

In [43]:
And1.head(20)

,GYear,galaxy,EEI,EEIatBirth,GI_Per_Capita,Income Index,E_GYrs_of_Edu,Mean_GYrs_of_Ed,IDI,Education Index,...,Dev Index (IDI_F_Rank),Dev Index (IDI_M_Rank),Adj Net savings,Immuno Disease Prev (% ages 15-49),Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y,Index_Potential_Max,Energy Allocation,Likely Index Increase
45,990025,Andromeda II,1.063381,93.576404,34891.830736,0.945705,15.452324,13.267036,1.013674,0.773926,...,46.076361,58.185247,21.427986,4.340754,31.326714,0.384441,0.167935,4.726336,50.0,2.233825
219,991020,Andromeda II,1.060048,87.852636,36810.074006,0.997736,14.783827,10.540079,0.900273,0.882102,...,46.076361,58.185247,21.427986,4.340754,19.297035,0.384441,0.170182,4.713787,2.0,2.221979
438,992016,Andromeda II,1.035356,84.368298,36846.165710,0.983085,16.817344,11.042403,0.963616,0.873392,...,46.076361,58.185247,21.427986,4.340754,29.066562,0.384441,0.170547,4.711763,50.0,2.220071
601,993012,Andromeda II,1.031302,88.314205,38410.460069,0.962012,18.724425,11.483635,0.939827,0.821766,...,46.076361,58.185247,21.427986,4.340754,41.453491,0.384441,0.170171,4.713851,95.0,2.222040
791,994009,Andromeda II,1.008023,84.189445,51530.209855,0.913021,17.854034,10.714958,0.884454,0.880003,...,46.076361,58.185247,21.427986,4.340754,34.840796,0.384441,0.170597,4.711485,95.0,2.219809
1049,995006,Andromeda II,1.000849,89.709017,40464.881001,1.039081,16.150074,10.568733,0.937788,0.783000,...,75.478973,36.410064,17.878088,5.335295,34.740410,0.456913,0.170656,4.711160,65.0,2.219503
1165,996004,Andromeda II,0.973457,90.710952,39847.368378,1.012291,15.297839,11.629303,0.977811,0.829133,...,75.478973,36.410064,17.878088,5.335295,21.673190,0.456913,0.172967,4.698448,71.0,2.207541
1426,997002,Andromeda II,1.007842,89.728781,47786.275722,0.988812,16.603037,12.937022,1.008510,0.832701,...,75.478973,36.410064,17.878088,5.335295,13.754348,0.456913,0.173471,4.695697,43.0,2.204957
1508,998001,Andromeda II,0.957428,85.029260,30381.846707,1.052861,16.966001,9.933802,0.888597,0.752033,...,75.478973,36.410064,17.878088,5.335295,18.937194,0.456913,0.175037,4.687197,68.0,2.196982
1786,999000,Andromeda II,1.009699,90.784077,37871.204282,1.025042,20.697382,10.181967,0.920466,0.835920,...,75.478973,36.410064,17.878088,5.335295,37.716150,0.456913,0.175048,4.687140,47.0,2.196928
1924,1000000,Andromeda II,1.045301,96.229566,40999.927065,1.046103,17.143808,13.255397,0.953206,0.914388,...,104.354200,79.074030,20.526907,3.907331,32.479988,0.490511,0.176147,4.681221,33.0,2.191383
2103,1001000,Andromeda II,0.988624,85.005909,45868.839316,1.033465,18.981308,11.323515,0.969514,0.969834,...,104.354200,79.074030,20.526907,3.907331,32.479988,0.490511,0.182375,4.648307,93.0,2.160676
2340,1002001,Andromeda II,1.176220,87.499545,42733.258441,1.120020,17.539139,11.587839,1.074475,0.964153,...,104.354200,79.074030,20.526907,3.907331,32.479988,0.490511,0.184830,4.635629,8.0,2.148905
2515,1003002,Andromeda II,1.077496,88.539578,36431.326995,0.966917,17.802910,14.592218,1.004611,0.999175,...,104.354200,79.074030,20.526907,3.907331,32.479988,0.490511,0.185990,4.629694,1.0,2.143407
2567,1004004,Andromeda II,1.023048,89.654918,40929.035697,0.994733,18.539656,14.039637,0.984133,0.903205,...,104.354200,79.074030,20.526907,3.907331,32.479988,0.490511,0.186593,4.626619,4.0,2.140561
2715,1005006,Andromeda II,1.040963,90.000482,34604.345687,1.019623,18.713461,11.844386,1.063473,0.893637,...,68.579695,66.831327,17.881303,3.586564,28.755781,0.481700,0.189293,4.612978,16.0,2.127957
2912,1006009,Andromeda II,1.103836,95.377451,39924.200334,1.026226,18.386071,13.070370,0.979419,0.814976,...,68.579695,66.831327,17.881303,3.586564,28.755781,0.481700,0.189964,4.609619,95.0,2.124859
3078,1007012,Andromeda II,0.996368,89.611360,34433.651023,0.995643,18.108068,13.457899,1.057838,1.015588,...,68.579695,66.831327,17.881303,3.586564,28.755781,0.481700,0.188876,4.615075,69.0,2.129892
3157,1008016,Andromeda II,1.073253,91.984099,54595.475338,1.121511,20.081506,14.938118,1.069089,1.078343,...,68.579695,66.831327,17.881303,3.586564,28.755781,0.481700,0.191036,4.604272,87.0,2.119932
3269,1009020,Andromeda II,1.146999,88.374514,46538.255508,1.023052,21.797098,13.926188,0.983143,0.995618,...,68.579695,66.831327,17.881303,3.586564,28.755781,0.481700,0.191913,4.599920,10.0,2.115926

In [33]:
# dropping passed columns 
And1 = And1.drop(["galaxy"], axis = 1)

In [36]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')

imp = imp.fit(And1)

imputed_df = imp.transform(And1.values)

# View the dataset
imputed_df

array([[9.90025000e+05, 1.06338092e+00, 9.35764037e+01, ...,
        3.88104939e+01, 4.04869525e-01, 1.67935205e-01],
       [9.91020000e+05, 1.06004826e+00, 8.78526363e+01, ...,
        3.88104939e+01, 4.04869525e-01, 1.70182165e-01],
       [9.92016000e+05, 1.03535641e+00, 8.43682982e+01, ...,
        3.88104939e+01, 4.04869525e-01, 1.70547163e-01],
       ...,
       [1.01203600e+06, 1.07074858e+00, 8.71495092e+01, ...,
        7.12092822e+01, 3.29986597e-01, 1.44480570e-01],
       [1.01304200e+06, 1.11873408e+00, 9.32770173e+01, ...,
        3.18106321e+01, 3.41947084e-01, 1.83560471e-01],
       [1.01404900e+06, 1.09688533e+00, 9.04920968e+01, ...,
        3.34210264e+01, 3.38762016e-01, 1.69934141e-01]])

In [ ]:
f = df_train[[galaxy]]
for k in f:
    X = df_train[k]
    imp = Imputer(missing_values='NaN', strategy='median', axis=0)
    X = imp.fit_transform(X)
    df_train[k] = X

In [ ]:
f = df_train[[galaxy]]
for k in f:
    X = pd.DataFrame(df_train, columns=[k])
    imp = Imputer(missing_values='NaN', strategy='median', axis=0)
    X = imp.fit_transform(X)
    df_train[k] = X

In [ ]:
df['value'] = df['value'].fillna(df.groupby('name')['value'].transform('mean'))

In [ ]:
# Replace savings_balance NaN with mean savings_balance of same state
df['savings_balance'] = df.groupby('galaxy').savings_balance.transform(lambda x: x.fillna(x.mean()))
df.savings_balance = df.savings_balance.round(2)

In [ ]:
# Output modified dataset to CSV
df.to_csv('mock_bank_data_original_PART2.csv', index=False)

In [ ]:
#Determine pivot table
impute_grps = data.pivot_table(values=["LoanAmount"], index=["Gender","Married","Self_Employed"], aggfunc=np.mean)
print impute_grps

In [ ]:
# Replace cheq_balance NaN with mean cheq_balance of same state
df['cheq_balance'] = df.groupby('state').cheq_balance.transform(lambda x: x.fillna(x.mean()))
df.cheq_balance = df.cheq_balance.round(2)

# Replace savings_balance NaN with mean savings_balance of same state
df['savings_balance'] = df.groupby('state').savings_balance.transform(lambda x: x.fillna(x.mean()))
df.savings_balance = df.savings_balance.round(2)

In [ ]:
# Output modified dataset to CSV
df.to_csv('mock_bank_data_original_PART2.csv', index=False)

# Training Model Using Expanded Dataset: Linear Regression

### Using grouped_data

In [ ]:
f_train = f_complete[:, 0:79]

In [ ]:
f_train.shape

In [ ]:
train_X1, test_X1, train_y1, test_y1 = train_test_split(f_train, y1, test_size=0.3)

In [ ]:
y1

In [ ]:
train_X1

In [ ]:
y1.shape

In [ ]:
model1 = LinearRegression()
model1.fit(train_X1, train_y1)

train_pred_y1 = model1.predict(train_X1)

In [ ]:
# Predicted Vs Actual
test_pred_y1 = model1.predict(test_X1)

In [ ]:
rmse_train1 = np.sqrt(mean_squared_error(train_pred_y1, train_y1))

# msle_train1 = mean_squared_log_error(train_pred_y1, train_y1)
rmse_test1 = np.sqrt(mean_squared_error(test_pred_y1, test_y1))

# msle_test1 = mean_squared_log_error(test_pred_y1, test_y1)

In [ ]:
# print('rmse_train:',rmse_train,'msle_train:',msle_train)
# print('rmse_test:',rmse_test,'msle_test:',msle_test)

In [ ]:
# Note that for rmse, the lower that value is, the better the fit
print('rmse_train:',rmse_train1)
print('rmse_test:',rmse_test1)

In [ ]:
# The closer towards 1, the better the fit
test_set_r3 = r2_score(test_y1, test_pred_y1)
test_set_r3

### Fit linear Model for Statistical Summary

In [ ]:
import statsmodels.api as sm
diabetes_cc = diabetes.dropna(how=
'any')
X = sm.add_constant(diabetes_cc.iloc[:, :-1])
y = diabetes_cc['Class']
lm = sm.OLS(y, X).fit()

In [ ]:
print(lm.summary())

### R-squared and Coefcients

In [ ]:
lm.rsquared_adj

In [ ]:
lm.params

In [ ]:
from sklearn.linear_model import BayesianRidge, LinearRegression

# Create linear regression object
regressor = LinearRegression()  
regressor.fit(X_train, y_train) #training the algorithm

#### Getting The Intercept

In [ ]:
#To retrieve the intercept:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)

# Make Predictions

In [ ]:
y_pred = regressor.predict(X_test)

#### Actual Vs Predicted Values

In [ ]:
df = pd.DataFrame({'Actual': y_test.flatten(), 'Predicted': y_pred.flatten()})
df

In [ ]:
coeff_df = pd.DataFrame(regressor.coef_, X.columns, columns=['Coefficient'])  
coeff_df

### RMSE

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score

mean_squared_error(y_test, y_pred)

In [ ]:
# The coefficients
print('Coefficients: \n', regressor.coef_)

# The mean squared error
print('Mean squared error: %.2f'
      % mean_squared_error(y_test, y_pred))

# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f'
      % r2_score(y_test, y_pred))

In [ ]:
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

# Plot Results

In [ ]:
# Plot outputs
#plt.scatter(X_test, y_test,  color='black')
#plt.plot(X_test, y_pred, color='blue', linewidth=3)

#plt.xticks(())
#plt.yticks(())

#plt.show()

In [ ]:
#plt.scatter(X_test, y_test,  color='gray')
#plt.plot(X_test, y_pred, color='red', linewidth=2)
#plt.show()

# Gradient Boosting regression

In [ ]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, ensemble
from sklearn.inspection import permutation_importance
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.1, random_state=13)

params = {'n_estimators': 500,
          'max_depth': 4,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'ls'}

## Fit The Regression Model

In [ ]:
reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X_train, y_train)

mse = mean_squared_error(y_test, reg.predict(X_test))
print("The mean squared error (MSE) on test set: {:.4f}".format(mse))

## Plot training deviance

In [ ]:
test_score = np.zeros((params['n_estimators'],), dtype=np.float64)
for i, y_pred in enumerate(reg.staged_predict(X_test)):
    test_score[i] = reg.loss_(y_test, y_pred)

fig = plt.figure(figsize=(6, 6))
plt.subplot(1, 1, 1)
plt.title('Deviance')
plt.plot(np.arange(params['n_estimators']) + 1, reg.train_score_, 'b-',
         label='Training Set Deviance')
plt.plot(np.arange(params['n_estimators']) + 1, test_score, 'r-',
         label='Test Set Deviance')
plt.legend(loc='upper right')
plt.xlabel('Boosting Iterations')
plt.ylabel('Deviance')
fig.tight_layout()
plt.show()

## Plot feature importance

In [ ]:
feature_importance = reg.feature_importances_
sorted_idx = np.argsort(feature_importance)
pos = np.arange(sorted_idx.shape[0]) + .5
fig = plt.figure(figsize=(12, 6))
plt.subplot(1, 2, 1)
plt.barh(pos, feature_importance[sorted_idx], align='center')
plt.yticks(pos, np.array(diabetes.feature_names)[sorted_idx])
plt.title('Feature Importance (MDI)')

result = permutation_importance(reg, X_test, y_test, n_repeats=10,
                                random_state=42, n_jobs=2)
sorted_idx = result.importances_mean.argsort()
plt.subplot(1, 2, 2)
plt.boxplot(result.importances[sorted_idx].T,
            vert=False, labels=np.array(diabetes.feature_names)[sorted_idx])
plt.title("Permutation Importance (test set)")
fig.tight_layout()
plt.show()

### Using The test.csv To Create a Submision File

To finish I will show you how to make your first submission. We now need to use the test.csv file that we read in earlier. Firstly we are going to create a new data frame with the Loan_ID column dropped.

In [ ]:
test_no_name = test.drop('galaxy', axis=1)

We then use our model to predict on this new data.

In [ ]:
test_predictions = lr.predict(test_no_name)

Finally we need to build the submission file, which we know from looking at the sample submissions available on the website, needs to consist of a csv file containing the Loan_ID’s and corresponding predictions. In the below code I have obtained the Loan_ID’s from the original test data frame. I am then building a new data frame by combining with the test_predictions.

In [ ]:
galaxy = test['galaxy']
submission_df_1 = pd.DataFrame({
                  "galaxy": galaxy, 
                  "y": test_predictions})

Finally exporting this as a csv file using the pandas to_csv function. You can now upload this as a submission.

In [ ]:
submission_df_1.to_csv('submission_1.csv', index=False)

### Identifying Categorical Features For Transformation

In [ ]:
#numeric_features = train.select_dtypes(include=['int64', 'float64']).columns
#categorical_features = train.select_dtypes(include=['object']).drop(['y'], axis=1).columns

In [ ]:
numeric_features = train.select_dtypes(include=['int64', 'float64']).columns
#categorical_features = train.select_dtypes(include=['object']).drop(['y'], axis=1).columns

### Creating Transformer Pipelines

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler())])

### Concatenating Both Numeric & Categorical

I then use the ColumnTransfomer to concatenate both the numeric and categorical transformers into an object called preprocessor.

In [ ]:
#from sklearn.compose import ColumnTransformer
#preprocessor = ColumnTransformer(
#    transformers=[
#        ('num', numeric_transformer, numeric_features),
#        ('cat', categorical_transformer, categorical_features)])

In [ ]:
from sklearn.compose import ColumnTransformer
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ])

In [ ]:
from sklearn.linear_model import BayesianRidge, LinearRegression
lr = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier', LinearRegression())])

In [ ]:
new_df = df_train.groupby(["galaxy", "galactic year"], as_index=False)["y"]

In [ ]:
new_df.head()

In [ ]:
import plotly
import random

n_trim = trimmed_df1
n_trim = n_trim.sample(n=100, replace=True)

r = lambda: random.randint(0,255)
traces = []

for df in n_trim:
    clr = str(r()) + str(r()) + str(r())
    #df = df.sample(n=100, replace=True)
    df = df.sort_values('GYear', inplace=True, ascending=False)
#     print(df['Label'])
    label = df['galaxy'].iloc[0]

    trace = plotly.graph_objs.Scattergl(
        x=df['GYear'],
        y=df['y'],
        mode='line',
        line=dict(
            color = clr
        )
    )
    traces.append(trace)
    
layout = plotly.graph_objs.Layout(
    title='Plot',
)
fig = plotly.graph_objs.Figure(data=traces, layout=layout)

plotly.offline.init_notebook_mode(connected=True)
plotly.offline.iplot(fig, filename='dataplot')

### Country Income Group Analysis

In [ ]:
fig, ax = plt.subplots(1,1,figsize=(20,5))
galaxy.sort_values(inplace=True,ascending=False)
p = sns.barplot(x=galaxy.index,y=galaxy, dodge=False, ax = ax)
dummy = p.set_xticklabels(galaxy.index,rotation=90)
dummy = p.set_xlabel('')
dummy = p.set_ylabel('Galaxies')

In [ ]:
# summarize the dataset
#print(df.describe())

In [ ]:
# count the number of nan values in each column
#print(df.isnull().sum())

#### Data Split

In [ ]:
train_X1, test_X1, train_y1, test_y1 = train_test_split(X1, y1, test_size=0.3, shuffle=True)

## Imputing Missing Values

In [ ]:
import numpy as np
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
imp = IterativeImputer(max_iter=10, random_state=0)

In [ ]:

imp.fit(train_X1)

test_X1 = np.round(imp.transform(test_X1))
test_X1

In [ ]:
train_X1.shape

In [ ]:
train_y1.shape

In [ ]:
%reset -f